#Explore-options {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
    /* border: 2px solid red; */
    /* background-color: #fff; */
  }
  #popular {
    margin-top: 18px;
  }
  #Explore-options p {
    font-size: 30px;
    line-height: 40px;
    color: #363636;
    font-weight: 500;
    margin-top: 50px;
  }
  #name-places {
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: 0px 0px 22px 0px;
    /* gap: 10px; */
  }
  #names span {
    /* background-color: #fff; */
    font-size: 20px;
    line-height: 26px;
    color: #1c1c1c;
    /* padding: 10px; */
  }