footer {
    background: #f8f8f8;
    /* border: 1px solid red; */
    height: 600px;
    /* width: 80%; */
    margin: auto;
    /* margin-left: 100px; */
    /* margin: 0 auto 60px; */
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
  }
  .zomato {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
  }
  #zomato-img img {
    /* border: 2px solid red; */
    width: 80%;
    /* margin-top: 5px; */
    height: 100%;
  }
  #zomato-logo {
    background: #f8f8f8;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
  }
  #main-india {
    /* border: 1px solid grey; */
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 1000px; */
  }
  #india img {
    width: 30px;
    height: 22px;
    padding: 5px;
    margin: 5px auto;
    /* border: 2px solid red; */
    /* margin: 0; */
    /* padding: 8px; */
    /* border-radius: none; */
  }
  #india img,
  p,
  i {
    padding: 4px;
  }
  #india p,
  i {
    font-size: 18px;
    /* padding: 5px; */
    color: #1c1c1c;
  }
  #india {
    height: 38px;
    display: flex;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    gap: 4px;
    margin-right: 20px;
  }
  
  #india i {
    font-size: 14px;
    /* padding-bottom: 5px; */
  }
  #glob {
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    display: flex;
    height: 38px;
  }
  #glob i {
    font-size: 14px;
    margin: 5px;
  }
  #glob p {
    padding: 5px;
  }
  /* #india p {
    font-size: 18px;
    padding: 5px;
    color: #1c1c1c;
  } */
  
  #footer-container {
    background: #f8f8f8;
    /* border: 2px solid red; */
    /* height: 100%; */
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-column {
    background: #f8f8f8;
  
    /* border: 2px solid black; */
    position: relative;
    /* margin-bottom: 20px; */
    /* margin-top: 100px; */
  }
  
  .footer-column h3 {
    font-size: 14px;
    letter-spacing: 2px;
    /* margin-left: 20px; */
    margin-bottom: 10px;
  
    /* font-weight: 500; */
  }
  
  .footer-column ul {
    list-style: none;
    font-size: 14px;
    line-height: 21px;
    color: #1c1c1c;
  }
  
  .footer-column ul li {
    margin: 5px 0;
  }
  
  .footer-column ul li {
    text-decoration: none;
    color: #333;
  }
  
  .social-links img {
    height: 40px;
    margin: 5px 5px 0 0;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    text-align: center;
    color: #777;
  }
  .footer-column img {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 20px;
  }