@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    
}
header{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    height: 60vh;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position:center;
}

nav{
    /* background-color: red; */
    margin: auto;
    width: 80%;
    height: 40px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#left span{
    color: #fff;
    font-size:14px ;
    font-weight: 600;


}
#right ul{
    color: #fff;
    display: flex;
    gap: 50px;
    font-size: 18px;
}
#main{
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(60vh-72px);
}
#main #logo img{
    width: 350px;
    margin-top: 30px;
}
#main #lagline h1{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    margin-top: 30px;
    
}
#seachcontainer{
    background-color:#fff;
    padding: 15px 25px;
    width: 50%;
    border-radius: 12px;
    display: flex;
    margin-top: 30px;
}
#city{
    border-right: 2px solid #cfcfcf;
    padding-right: 15px;
    margin-right: 20px;
}
#city input{
    border: none;
    margin-left:5px ;
}

span{
    padding-left: 15px;
    color: #828282;
    /* font-size: 18px; */
}



#main #logo {
    color: #fff;
    
}